---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Features from '@components/sections/Features.astro';
import { featureLists } from '@data/features';
import Logos from '@components/sections/Logos.astro';
import { logoLists } from '@data/logos';
import Faqs from '@components/sections/Faqs.astro';
import { faqLists } from '@data/faqs';
import homeImage from '../assets/images/home/fondo.jpg';
import BioShowcase from '@components/sections/Pesentacion.astro';
import headshot from '@assets/images/dircderecho.jpg';
import book from '@assets/images/libro.jpg';

const seoTitle = "Torneo nacional de derecho tributario";
const seoDescription = "Torneo nacional de derecho tributario Universidad Nacional de Cajamarca";

const heroContent = {
    title: '',
    description: 'Atrévete a vivirlo',
    buttons: [
        {
            text: 'Contáctanos',
            link: '#contacto',
            target: '_self'
        }
    ],
    backgroundImage: homeImage,
    overlayOpacity: 0.2
}

const featuresSection = {
    eyebrow: "",
    title: "Beneficios",
    description: "Lo que te llevas de tu participación",
    features: featureLists.main.features
}

const logosSection = {
    eyebrow: "Nos auspician",
    logos: logoLists.main.logos
}

const faqsSection = {
    eyebrow: "Conócenos",
    title: '¿Quiénes somos?',
    description: 'El Concurso de Derecho Tributario de la Universidad Nacional de Cajamarca busca consolidarse  como un espacio académico innovador y participativo,  que promueva el aprendizaje mediante dinámicas de preguntas y respuestas. Se proyecta como una plataforma que fortalezca la formación crítica y práctica de los estudiantes de las carreras de Derecho, Economía y Contabilidad, incentivando el estudio riguroso, la sana competencia y la construcción de futuros profesionales comprometidos con la justicia tributaria y el desarrollo del país.',
    faqs: faqLists.main.faqs
}

const bioText = `Dr. Jorge Luis Salazar Soplapuco, abogado por la Universidad Nacional de Trujillo, Perú. Magister en Derecho Público por la Universidad de Bruselas, Bélgica. Doctor en Derecho por la Universidad Privada Antenor Orrego de Trujillo. Doctorando en Derecho Fundamentales por la Universidad Carlos III de Madrid. España. Docente nombrado de la Facultad de Derecho y Ciencias Políticas y de la Escuela de Posgrado de la Universidad Nacional de Cajamarca. Docente invitado de la Universidad Nacional Mayor de San Marcos y de la Universidad Privada Antenor Orrego de Trujillo. Director de la Unidad de Posgrado de Derecho de la Escuela de Posgrado de la UNC. Miembro fundador de la Asociación de Constitucionalistas del Perú. Directo de la Revista de Investigación Jurídica Quaestio Iuris. Autor de libros de Derecho y Literatura.`;

---

<Layout title={seoTitle} description={seoDescription} isIndex={true}>
    <section id="inicio">
        <Hero content={heroContent} />    
    </section>
    <section id="nosotros" class="mb-20 mt-15 scroll-mt-20">
        <Faqs content={faqsSection} background="base" padding="base" />
    </section>
    <section id="servicios" class="mb-20 mt-20 scroll-mt-18">
        <Features content={featuresSection} padding="base" background="light" />
    </section>
    <section>
        <BioShowcase
            headshotSrc={headshot}
            bookSrc={book}
            bio={bioText}
        />
        <div class="mt-20">
            <Logos content={logosSection} background="base" padding='small'/>
        </div>
    </section>
    
</Layout>